services:
  app:
    image: ghcr.io/hargata/lubelogger:latest
    container_name: lubelogger
    build: .
    restart: unless-stopped
    # volumes used to keep data persistent
    volumes:
      - config:/App/config
      - data:/App/data
      - translations:/App/wwwroot/translations
      - documents:/App/wwwroot/documents
      - images:/App/wwwroot/images
      - temp:/App/wwwroot/temp
      - log:/App/log
      - keys:/root/.aspnet/DataProtection-Keys
    # expose port and/or use serving via traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.car.rule=Host(`car.cola.net`)"
      - "traefik.http.routers.car.entrypoints=https"
      - "traefik.http.routers.car.tls=true"
    networks:
      - proxy
#    ports:
#      - 8081:8080
    env_file:
      - .env

  postgres:
    image: postgres:15
    container_name: lubelogger-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: "lubelogger"
      POSTGRES_PASSWORD: "lubepass"
      POSTGRES_DB: "lubelogger"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres:/var/lib/postgresql/data
      - /etc/localtime:/etc/localtime:ro

volumes:
  config:
    driver_opts:
      type: "nfs"
      o: "addr=192.168.68.200,nolock,soft,rw"
      device: ":/volume5/lubelogger/volumes/config"
    name: lubelogger-config

  data:
    driver_opts:
      type: "nfs"
      o: "addr=192.168.68.200,nolock,soft,rw"
      device: ":/volume5/lubelogger/volumes/data"
    name: lubelogger-data

  translations:
    driver_opts:
      type: "nfs"
      o: "addr=192.168.68.200,nolock,soft,rw"
      device: ":/volume5/lubelogger/volumes/translations"
    name: lubelogger-translations

  documents:
    driver_opts:
      type: "nfs"
      o: "addr=192.168.68.200,nolock,soft,rw"
      device: ":/volume5/lubelogger/volumes/documents"
    name: lubelogger-documents

  images:
    driver_opts:
      type: "nfs"
      o: "addr=192.168.68.200,nolock,soft,rw"
      device: ":/volume5/lubelogger/volumes/images"
    name: lubelogger-images

  temp:
    driver_opts:
      type: "nfs"
      o: "addr=192.168.68.200,nolock,soft,rw"
      device: ":/volume5/lubelogger/volumes/temp"
    name: lubelogger-temp

  log:
    driver_opts:
      type: "nfs"
      o: "addr=192.168.68.200,nolock,soft,rw"
      device: ":/volume5/lubelogger/volumes/log"
    name: lubelogger-log

  keys:
    driver_opts:
      type: "nfs"
      o: "addr=192.168.68.200,nolock,soft,rw"
      device: ":/volume5/lubelogger/volumes/keys"
    name: lubelogger-keys

  postgres:
    driver_opts:
      type: "nfs"
      o: "addr=192.168.68.200,nolock,soft,rw"
      device: ":/volume5/lubelogger/volumes/postgres"
    name: lubelogger-postgres

networks:
  proxy:
    external: true
